.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxSign {
    width: 400px;
    height: 430px;
    background-color: #DAE3FF;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.img {
    margin-bottom: 30px;
}

.title {
    font-size: 22px;
    font-weight: 600;
}

.subTitle {
    margin-bottom: 20px;
}

.form {
    width: 100%;
}

.button {
    border: none;
    width: 100%;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.footer {
    margin-top: 13px;
    display: flex;
}

.createAccount {
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
    color: inherit;
}