.containerHome {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.containerCreate {
    background-color: #DAE3FF;
    padding: 30px;
    border-radius: 10px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.containerLogout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoutButton {
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: space-between;
}

.title {
    font-size: 22px;
}

.input {
    background: #F8F8F8;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 7px;
}

.containerInputs {
    width: 600px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.boxHome {
    box-sizing: border-box;
    width: 1200px;
    margin-top: 40px;
    height: 930px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #DAE3FF;
    padding: 30px;
    box-sizing: border-box;
}

.buttonSearch {
    color: white;
    font-size: 15px;
    padding: 0px 20px;
    background-color: #0B5CF3;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.nameZipcode {
    padding: 30px 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    overflow-y: auto;
}

.houverZipcode {
    background-color: #DAE3FF;
}

.containerTracking {
    background: #F8F8F8;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.trackBox {
    padding: 10px;
}

.description {
    font-weight: 600;
}

.start {
    font-size: 14px;
}

.date {
    font-size: 12px;
}

.button {
    background: transparent;
    cursor: pointer;
    border: none;
}