.leftMenu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label {
        color: #5D6A90;
        font-size: 30px;
    }

    .inputs {
        margin-top: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        input {
            background: transparent;
            border: 2px solid #5D6A90;
            padding: 10px;
            width: 60%;
            /* color: white; */
            border-radius: 5px;
            margin-bottom: 30px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;

        .createAccount,
        .login {
            width: 40%;
            cursor: pointer;
            border-radius: 5px;
            padding: 10px;
            font-size: 20px;
        }

        .createAccount {
            background: transparent;
            color: #5D6A90;
            text-decoration: none;
            border: 1px solid #5D6A90;
            text-align: center;
        }

        .login {
            width: 40%;
            text-decoration: none;
            text-align: center;
            background-color: #5D6A90;
            color: white;
            border: none;
        }
    }

    p {
        color: red;
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }
}

.rightMenu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

    img {
        width: 120%;
        margin-top: 150px;
        object-fit: contain;
    }
}